.loader {
  width: fit-content;
  display: flex;
  justify-content: center;
}

.circle {
  width: 30px;
  height: 30px;
  animation: bounce 1s 0.7s linear infinite;
  border-radius: 100%;
  margin: 10px;
}

.circle:nth-of-type(1) {
  background-color: #ff4a52;
}
.circle:nth-of-type(2) {
  animation-delay: 0.2s;
  background-color: #ff733d;
}
.circle:nth-of-type(3) {
  animation-delay: 0.4s;
  background-color: #e84f38;
}

@keyframes bounce {
  0%,
  50%,
  100% {
    transform: scale(1);
    filter: blur (0px);
  }
  25% {
    transform: scale (0.6);
  }
  75% {
    transform: scale(1.4);
    background-color: #ff969c;
  }
}
